/**
* Scss Variables
*/
// $color-primary: rgba(0, 105, 143, 1);
$color-primary: rgba(0, 115, 177, 1);
$color-secondary: rgba(37, 36, 34, 1);
$color-text: rgba(0, 0, 0, 1);
$color-border: #cfd2dc;
$color-danger: #d32f2f;
$color-white: #fff;
$color-black: #000;

$font-xl: calc(30px + 4vmin);
$font-large: calc(20px + 4vmin);
$font-medium: calc(18px + 3vmin);
$font-small: calc(15px + 2vmin);
$font-xs: calc(14px + 1vmin);

$padding-default: 10%;

// --color-background-secondary: #f2f2f2;
// --color-background-button: #e1e4ea;
