/**
* Scss Variables
*/

// breakpoints
$screen-phone: 426px;
$screen-tab: 769px;
$screen-laptop: 1025px;

//colors
$color-primary: rgba(0, 115, 177, 1);
$color-secondary: rgba(37, 36, 34, 1);
$color-text: rgba(0, 0, 0, 1);
$color-border: #cfd2dc;
$color-danger: #d32f2f;
$color-white: #fff;
$color-black: #000;
$color-background-peach: #f4ece6;
// --color-background-secondary: #f2f2f2;
// --color-background-button: #e1e4ea;
// $color-primary: rgba(0, 105, 143, 1);

// fonts
$font-xl: calc(30px + 4vmin);
$font-large: calc(20px + 4vmin);
$font-medium: calc(18px + 3vmin);
$font-small: calc(15px + 2vmin);
$font-xs: calc(14px + 1vmin);

//other variables
$padding-default: 10%;
$padding-default-phone: 5%;
