@import './themes/appTheme.scss';

@font-face {
  font-family: 'Merriweather-Regular';
  src: url('./assets/fonts/Merriweather-Regular.ttf') format('OpenType');
  font-display: swap;
}

@font-face {
  font-family: 'Merriweather-Medium';
  src: url('./assets/fonts/Merriweather-Bold.ttf') format('OpenType');
  font-display: swap;
}

@font-face {
  font-family: 'Merriweather-Light';
  src: url('./assets/fonts/Merriweather-Light.ttf') format('OpenType');
  font-display: swap;
}

@font-face {
  font-family: 'Merriweather-Bold';
  src: url('./assets/fonts/Merriweather-Black.ttf') format('OpenType');
  font-display: swap;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: 'Merriweather-Medium';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-display: swap;

  .slick-prev:before,
  .slick-next:before {
    color: black;
    font-size: 30px;
  }
}

html,
body {
  height: 100%;
  width: 100%;
}

#root {
  height: 100%;
  width: 100%;
  display: flex;
  font-family: 'Merriweather-Regular';
  flex-direction: column;
  font-size: $font-xs;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-family: Merriweather-Bold;
}

h1 {
  font-size: $font-xl;
}

a {
  color: $color-black;
  text-decoration: none;
  font-weight: normal;
}
